.white_color {
	-fx-background-color: white;
}

.blue_color {
	-fx-background-color: #4f90a5;
}

.charging_screen_color {
	-fx-background-color: #3e7384;
}

.charging_screen_bg_color {
	-fx-background-color: #f2f2f2;
}

.client_menu_bar_color {
	-fx-background-color: #dddddd;
}